fastapi
uvicorn
sqlalchemy
pydantic
pandas
google-genai
openai
resend
python-multipart
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
requests
google-genai
resend
stripe
gunicorn
