fastapi
uvicorn
sqlalchemy
pydantic[email]
pandas
google-genai
openai
resend
python-multipart
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
requests
stripe
gunicorn
email-validator
reportlab
